.card {
    position: relative;
    margin: 5px;
    border-radius: 4px;
    margin-top: 15px;
    padding: 2%;
    font-family: $font-1;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
    color: black;


    p {
        font-family: $font-1;
        font-size: 12px;
        color: black;
    }

}