.card {
  position: relative;
  margin: 5px;
  border-radius: 4px;
  margin-top: 15px;
  padding: 2%;
  font-family: $font-1;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


p {
  font-family: $font-1;
  font-size: 12px;
  color: black;
}